@font-face {
  font-family: aAtmospheric;
  src: url("../assets/fonts/aAtmospheric.ttf");
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

body {
  font-size: 67.5%;
  line-height: 1.5;
  color: #333;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@-webkit-keyframes star_move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@keyframes star_move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@-webkit-keyframes idea_move {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-20px, 30px);
            transform: translate(-20px, 30px);
  }
  50% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  75% {
    -webkit-transform: translate(-10px, 40px);
            transform: translate(-10px, 40px);
  }
}

@keyframes idea_move {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-20px, 30px);
            transform: translate(-20px, 30px);
  }
  50% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  75% {
    -webkit-transform: translate(-10px, 40px);
            transform: translate(-10px, 40px);
  }
}

@-webkit-keyframes seek_left_move {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

@keyframes seek_left_move {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

@-webkit-keyframes planet_shake {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes planet_shake {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@-webkit-keyframes planet_rotate {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes planet_rotate {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

body {
  background-image: url("../assets/images/bg.svg");
  background-size: cover;
  font-family: aAtmospheric;
  overflow-x: hidden;
}

.stars > div {
  z-index: -1;
  position: fixed;
  left: 10px;
  top: 10px;
}

.stars #stars1 {
  width: 1px;
  height: 1px;
  background-color: #fff;
  -webkit-box-shadow: 33vw 38vh #fff , 85vw 97vh #fff , 103vw 36vh #fff , 32vw 72vh #fff , 11vw 64vh #fff , 28vw 91vh #fff , 6vw 24vh #fff , 124vw 92vh #fff , 105vw 34vh #fff , 46vw 86vh #fff , 50vw 13vh #fff , 96vw 38vh #fff , 185vw 35vh #fff , 18vw 24vh #fff , 73vw 59vh #fff , 127vw 52vh #fff , 114vw 48vh #fff , 56vw 53vh #fff , 157vw 37vh #fff , 69vw 60vh #fff , 153vw 77vh #fff , 120vw 89vh #fff , 195vw 2vh #fff , 8vw 32vh #fff , 112vw 67vh #fff , 149vw 12vh #fff , 191vw 8vh #fff , 159vw 73vh #fff , 87vw 14vh #fff , 82vw 75vh #fff , 96vw 35vh #fff , 119vw 67vh #fff , 193vw 22vh #fff , 79vw 22vh #fff , 120vw 38vh #fff , 3vw 61vh #fff , 130vw 53vh #fff , 56vw 37vh #fff , 175vw 100vh #fff , 139vw 51vh #fff , 129vw 100vh #fff , 120vw 31vh #fff , 155vw 24vh #fff , 191vw 38vh #fff , 35vw 52vh #fff , 147vw 8vh #fff , 159vw 46vh #fff , 30vw 67vh #fff , 190vw 44vh #fff , 110vw 100vh #fff , 197vw 39vh #fff , 78vw 19vh #fff , 27vw 62vh #fff , 149vw 52vh #fff , 165vw 88vh #fff , 89vw 73vh #fff , 118vw 26vh #fff , 180vw 84vh #fff , 54vw 29vh #fff , 120vw 81vh #fff , 44vw 53vh #fff , 69vw 4vh #fff , 75vw 74vh #fff , 8vw 89vh #fff , 157vw 74vh #fff , 181vw 62vh #fff , 93vw 56vh #fff , 56vw 30vh #fff , 165vw 96vh #fff , 197vw 7vh #fff , 52vw 20vh #fff , 161vw 19vh #fff , 69vw 90vh #fff , 70vw 54vh #fff , 88vw 97vh #fff , 110vw 24vh #fff , 59vw 26vh #fff , 128vw 10vh #fff , 31vw 8vh #fff , 51vw 50vh #fff , 41vw 8vh #fff , 100vw 31vh #fff , 80vw 68vh #fff , 42vw 100vh #fff , 166vw 90vh #fff , 166vw 56vh #fff , 24vw 43vh #fff , 146vw 52vh #fff , 38vw 98vh #fff , 96vw 76vh #fff , 15vw 87vh #fff , 174vw 2vh #fff , 96vw 61vh #fff , 19vw 6vh #fff , 149vw 8vh #fff , 179vw 20vh #fff , 193vw 23vh #fff , 181vw 41vh #fff , 185vw 51vh #fff , 194vw 11vh #fff , 12vw 12vh #fff , 74vw 60vh #fff , 133vw 5vh #fff , 185vw 67vh #fff , 40vw 92vh #fff , 62vw 22vh #fff , 90vw 77vh #fff , 196vw 10vh #fff , 166vw 24vh #fff , 95vw 24vh #fff , 61vw 22vh #fff , 29vw 8vh #fff , 61vw 15vh #fff , 79vw 5vh #fff , 38vw 57vh #fff , 115vw 89vh #fff , 188vw 71vh #fff , 60vw 96vh #fff , 114vw 2vh #fff , 120vw 62vh #fff , 63vw 96vh #fff , 9vw 31vh #fff , 34vw 93vh #fff , 87vw 60vh #fff , 192vw 7vh #fff , 157vw 49vh #fff , 168vw 42vh #fff , 52vw 43vh #fff , 115vw 1vh #fff , 39vw 11vh #fff , 132vw 76vh #fff , 127vw 54vh #fff , 140vw 84vh #fff , 174vw 57vh #fff , 134vw 24vh #fff , 67vw 91vh #fff , 51vw 86vh #fff , 144vw 48vh #fff , 194vw 46vh #fff , 102vw 49vh #fff , 18vw 51vh #fff , 43vw 64vh #fff , 156vw 28vh #fff , 117vw 87vh #fff , 135vw 53vh #fff , 114vw 67vh #fff , 103vw 10vh #fff , 194vw 95vh #fff , 1vw 92vh #fff , 126vw 33vh #fff , 178vw 36vh #fff , 23vw 57vh #fff , 116vw 49vh #fff , 184vw 35vh #fff , 73vw 74vh #fff , 79vw 50vh #fff , 140vw 100vh #fff , 81vw 31vh #fff , 134vw 84vh #fff , 92vw 57vh #fff , 24vw 14vh #fff , 18vw 75vh #fff , 23vw 67vh #fff , 189vw 52vh #fff , 132vw 74vh #fff , 44vw 27vh #fff , 161vw 30vh #fff , 16vw 86vh #fff , 59vw 22vh #fff , 185vw 5vh #fff , 49vw 44vh #fff , 178vw 17vh #fff , 107vw 17vh #fff , 57vw 40vh #fff , 127vw 9vh #fff , 72vw 72vh #fff , 164vw 77vh #fff , 20vw 94vh #fff , 88vw 87vh #fff , 112vw 6vh #fff , 151vw 61vh #fff , 15vw 78vh #fff , 72vw 77vh #fff , 143vw 92vh #fff , 83vw 35vh #fff , 114vw 74vh #fff , 74vw 57vh #fff , 116vw 43vh #fff , 157vw 40vh #fff , 98vw 100vh #fff , 64vw 70vh #fff , 186vw 42vh #fff , 166vw 28vh #fff , 53vw 38vh #fff , 165vw 88vh #fff , 151vw 93vh #fff , 83vw 82vh #fff , 127vw 3vh #fff , 159vw 46vh #fff , 79vw 91vh #fff , 198vw 8vh #fff , 163vw 27vh #fff , 182vw 35vh #fff , 169vw 62vh #fff , 5vw 68vh #fff , 50vw 21vh #fff , 161vw 91vh #fff , 9vw 8vh #fff , 94vw 42vh #fff , 131vw 95vh #fff , 7vw 36vh #fff , 10vw 81vh #fff , 26vw 89vh #fff , 72vw 94vh #fff , 31vw 41vh #fff , 18vw 88vh #fff , 76vw 36vh #fff , 61vw 26vh #fff , 168vw 94vh #fff , 46vw 55vh #fff , 41vw 70vh #fff , 88vw 30vh #fff , 69vw 86vh #fff , 159vw 52vh #fff , 101vw 19vh #fff , 173vw 47vh #fff , 19vw 4vh #fff , 123vw 97vh #fff , 43vw 100vh #fff , 68vw 75vh #fff , 166vw 24vh #fff , 146vw 30vh #fff , 40vw 65vh #fff , 85vw 65vh #fff , 138vw 94vh #fff , 183vw 40vh #fff , 31vw 31vh #fff , 75vw 31vh #fff , 126vw 37vh #fff , 188vw 58vh #fff , 7vw 93vh #fff , 188vw 10vh #fff , 16vw 65vh #fff , 194vw 33vh #fff , 3vw 57vh #fff , 84vw 41vh #fff , 61vw 53vh #fff , 127vw 77vh #fff , 80vw 63vh #fff , 103vw 24vh #fff , 173vw 33vh #fff , 192vw 71vh #fff , 138vw 18vh #fff , 164vw 60vh #fff , 128vw 96vh #fff , 199vw 34vh #fff , 58vw 66vh #fff , 174vw 95vh #fff , 181vw 16vh #fff , 76vw 91vh #fff , 122vw 67vh #fff , 138vw 9vh #fff , 11vw 67vh #fff , 89vw 17vh #fff , 155vw 50vh #fff , 3vw 95vh #fff , 78vw 55vh #fff , 111vw 58vh #fff , 127vw 5vh #fff , 38vw 95vh #fff , 121vw 67vh #fff , 12vw 97vh #fff , 36vw 95vh #fff , 132vw 8vh #fff , 151vw 8vh #fff , 14vw 96vh #fff , 2vw 59vh #fff , 87vw 79vh #fff , 195vw 74vh #fff , 55vw 98vh #fff , 43vw 4vh #fff , 142vw 69vh #fff , 63vw 22vh #fff , 59vw 76vh #fff , 112vw 68vh #fff , 199vw 67vh #fff , 16vw 58vh #fff , 199vw 34vh #fff , 100vw 64vh #fff , 94vw 75vh #fff , 195vw 20vh #fff , 77vw 91vh #fff , 65vw 17vh #fff , 107vw 49vh #fff , 129vw 43vh #fff , 5vw 43vh #fff , 156vw 99vh #fff , 15vw 1vh #fff , 88vw 31vh #fff , 156vw 79vh #fff , 200vw 87vh #fff , 1vw 77vh #fff , 68vw 8vh #fff , 182vw 80vh #fff , 177vw 52vh #fff , 181vw 23vh #fff , 33vw 81vh #fff , 33vw 45vh #fff , 175vw 71vh #fff , 157vw 34vh #fff , 162vw 69vh #fff , 123vw 91vh #fff , 171vw 63vh #fff , 122vw 55vh #fff , 187vw 100vh #fff , 53vw 34vh #fff , 19vw 11vh #fff , 88vw 44vh #fff , 54vw 60vh #fff , 151vw 85vh #fff , 172vw 52vh #fff , 16vw 19vh #fff , 170vw 78vh #fff , 74vw 48vh #fff , 158vw 95vh #fff , 93vw 18vh #fff , 199vw 69vh #fff , 15vw 13vh #fff , 169vw 67vh #fff , 197vw 31vh #fff , 149vw 33vh #fff , 160vw 16vh #fff , 183vw 36vh #fff , 99vw 59vh #fff , 163vw 87vh #fff , 57vw 12vh #fff , 89vw 45vh #fff , 56vw 20vh #fff , 127vw 34vh #fff , 157vw 77vh #fff , 35vw 97vh #fff , 127vw 98vh #fff , 93vw 71vh #fff , 133vw 68vh #fff , 80vw 1vh #fff , 107vw 21vh #fff , 91vw 52vh #fff , 59vw 55vh #fff , 77vw 8vh #fff , 127vw 65vh #fff , 121vw 50vh #fff , 110vw 20vh #fff , 18vw 78vh #fff , 191vw 59vh #fff , 30vw 54vh #fff , 173vw 47vh #fff , 19vw 70vh #fff , 101vw 15vh #fff , 10vw 84vh #fff , 27vw 21vh #fff , 179vw 92vh #fff , 60vw 42vh #fff , 123vw 81vh #fff , 72vw 4vh #fff , 9vw 10vh #fff , 148vw 4vh #fff , 133vw 94vh #fff , 66vw 26vh #fff , 21vw 98vh #fff , 67vw 64vh #fff , 193vw 94vh #fff , 22vw 50vh #fff , 8vw 13vh #fff , 94vw 82vh #fff , 111vw 28vh #fff , 170vw 19vh #fff , 189vw 7vh #fff , 164vw 94vh #fff , 88vw 44vh #fff , 136vw 30vh #fff , 84vw 73vh #fff , 170vw 23vh #fff , 166vw 91vh #fff , 151vw 79vh #fff , 23vw 10vh #fff , 41vw 99vh #fff , 91vw 19vh #fff , 195vw 82vh #fff , 19vw 40vh #fff , 192vw 64vh #fff , 79vw 12vh #fff , 194vw 89vh #fff , 146vw 81vh #fff , 170vw 57vh #fff , 50vw 3vh #fff , 124vw 54vh #fff , 19vw 56vh #fff , 128vw 58vh #fff , 93vw 18vh #fff , 41vw 75vh #fff , 149vw 5vh #fff , 62vw 20vh #fff , 170vw 97vh #fff , 55vw 10vh #fff , 155vw 54vh #fff , 12vw 9vh #fff , 56vw 1vh #fff , 72vw 26vh #fff , 49vw 100vh #fff , 4vw 15vh #fff , 168vw 33vh #fff , 116vw 26vh #fff , 92vw 72vh #fff , 134vw 42vh #fff , 126vw 64vh #fff , 70vw 58vh #fff , 113vw 100vh #fff , 169vw 87vh #fff , 135vw 1vh #fff , 26vw 83vh #fff , 16vw 98vh #fff , 199vw 26vh #fff , 129vw 73vh #fff , 165vw 60vh #fff , 183vw 9vh #fff , 33vw 31vh #fff , 11vw 99vh #fff , 179vw 55vh #fff , 183vw 35vh #fff , 183vw 99vh #fff , 32vw 18vh #fff , 165vw 40vh #fff , 130vw 17vh #fff , 157vw 37vh #fff , 166vw 68vh #fff , 131vw 63vh #fff , 4vw 42vh #fff , 4vw 63vh #fff , 96vw 84vh #fff , 123vw 9vh #fff , 18vw 6vh #fff , 105vw 62vh #fff , 151vw 7vh #fff , 6vw 51vh #fff , 85vw 71vh #fff , 53vw 55vh #fff , 97vw 7vh #fff , 186vw 42vh #fff , 15vw 45vh #fff , 194vw 38vh #fff , 138vw 33vh #fff , 35vw 16vh #fff , 73vw 74vh #fff , 130vw 85vh #fff , 119vw 61vh #fff , 156vw 64vh #fff , 15vw 67vh #fff , 7vw 67vh #fff , 44vw 78vh #fff , 186vw 95vh #fff , 23vw 87vh #fff , 3vw 23vh #fff , 186vw 80vh #fff , 154vw 62vh #fff , 179vw 8vh #fff , 29vw 98vh #fff , 67vw 9vh #fff , 104vw 18vh #fff , 187vw 79vh #fff , 172vw 26vh #fff , 131vw 32vh #fff , 22vw 58vh #fff , 93vw 77vh #fff , 3vw 45vh #fff , 92vw 86vh #fff , 42vw 8vh #fff , 189vw 43vh #fff , 35vw 93vh #fff , 190vw 25vh #fff , 80vw 42vh #fff , 145vw 54vh #fff , 95vw 85vh #fff , 3vw 23vh #fff , 13vw 80vh #fff , 129vw 56vh #fff , 192vw 19vh #fff , 67vw 24vh #fff , 195vw 96vh #fff , 93vw 76vh #fff , 166vw 3vh #fff , 59vw 63vh #fff , 158vw 27vh #fff , 110vw 19vh #fff , 15vw 64vh #fff , 36vw 5vh #fff , 135vw 82vh #fff , 175vw 35vh #fff , 28vw 43vh #fff , 17vw 3vh #fff , 165vw 29vh #fff , 116vw 61vh #fff , 88vw 83vh #fff , 19vw 69vh #fff , 127vw 77vh #fff , 79vw 35vh #fff , 141vw 7vh #fff , 63vw 27vh #fff , 162vw 38vh #fff , 194vw 12vh #fff , 145vw 20vh #fff , 120vw 80vh #fff , 11vw 56vh #fff , 117vw 3vh #fff , 80vw 98vh #fff , 98vw 91vh #fff , 50vw 97vh #fff , 139vw 100vh #fff , 55vw 50vh #fff , 84vw 17vh #fff , 83vw 34vh #fff , 49vw 62vh #fff , 158vw 91vh #fff , 24vw 46vh #fff , 8vw 62vh #fff , 195vw 41vh #fff , 89vw 22vh #fff , 81vw 18vh #fff , 131vw 40vh #fff , 163vw 40vh #fff , 118vw 99vh #fff , 77vw 4vh #fff , 147vw 1vh #fff , 155vw 53vh #fff , 132vw 91vh #fff , 13vw 73vh #fff , 120vw 75vh #fff , 84vw 49vh #fff , 175vw 73vh #fff , 65vw 47vh #fff , 49vw 51vh #fff , 98vw 100vh #fff , 71vw 21vh #fff , 176vw 45vh #fff , 89vw 63vh #fff , 162vw 5vh #fff , 62vw 36vh #fff , 151vw 29vh #fff , 39vw 91vh #fff , 161vw 99vh #fff , 125vw 23vh #fff , 126vw 76vh #fff , 170vw 31vh #fff , 44vw 8vh #fff , 57vw 65vh #fff , 128vw 62vh #fff , 21vw 30vh #fff , 148vw 21vh #fff , 171vw 81vh #fff , 3vw 54vh #fff , 19vw 14vh #fff , 156vw 54vh #fff , 125vw 97vh #fff , 102vw 29vh #fff , 61vw 53vh #fff , 158vw 1vh #fff , 163vw 82vh #fff , 133vw 62vh #fff , 35vw 15vh #fff , 183vw 93vh #fff , 170vw 94vh #fff , 46vw 58vh #fff , 105vw 58vh #fff , 3vw 48vh #fff , 192vw 55vh #fff , 132vw 25vh #fff , 151vw 1vh #fff , 25vw 82vh #fff , 197vw 96vh #fff , 26vw 14vh #fff , 29vw 37vh #fff , 188vw 98vh #fff , 97vw 65vh #fff , 47vw 36vh #fff , 4vw 14vh #fff , 115vw 10vh #fff , 7vw 17vh #fff , 196vw 29vh #fff , 157vw 87vh #fff , 160vw 40vh #fff , 67vw 73vh #fff , 7vw 10vh #fff , 11vw 59vh #fff , 62vw 6vh #fff , 192vw 16vh #fff , 58vw 42vh #fff , 190vw 48vh #fff , 144vw 24vh #fff , 59vw 9vh #fff , 131vw 46vh #fff , 81vw 89vh #fff , 58vw 78vh #fff , 12vw 22vh #fff , 3vw 94vh #fff , 109vw 9vh #fff , 19vw 47vh #fff , 176vw 72vh #fff , 167vw 98vh #fff , 70vw 58vh #fff , 54vw 64vh #fff , 116vw 79vh #fff , 15vw 48vh #fff , 39vw 27vh #fff , 175vw 75vh #fff , 148vw 4vh #fff , 91vw 7vh #fff , 95vw 16vh #fff , 84vw 22vh #fff , 168vw 16vh #fff , 115vw 8vh #fff , 55vw 22vh #fff , 137vw 72vh #fff , 22vw 7vh #fff , 198vw 74vh #fff , 176vw 25vh #fff , 8vw 40vh #fff , 165vw 62vh #fff , 173vw 50vh #fff , 36vw 94vh #fff , 64vw 29vh #fff , 133vw 8vh #fff , 191vw 77vh #fff , 158vw 98vh #fff , 31vw 97vh #fff , 99vw 43vh #fff , 64vw 74vh #fff , 7vw 62vh #fff , 168vw 58vh #fff , 80vw 13vh #fff , 34vw 16vh #fff , 71vw 21vh #fff , 57vw 12vh #fff , 4vw 98vh #fff , 23vw 90vh #fff , 194vw 27vh #fff , 57vw 67vh #fff , 63vw 16vh #fff , 79vw 84vh #fff , 178vw 25vh #fff , 119vw 74vh #fff , 155vw 10vh #fff , 170vw 75vh #fff , 197vw 40vh #fff , 97vw 31vh #fff , 156vw 26vh #fff , 20vw 37vh #fff , 95vw 35vh #fff , 147vw 56vh #fff , 36vw 65vh #fff , 103vw 57vh #fff , 92vw 69vh #fff , 174vw 49vh #fff , 187vw 75vh #fff , 57vw 69vh #fff , 196vw 33vh #fff , 25vw 62vh #fff , 193vw 87vh #fff , 156vw 25vh #fff , 98vw 33vh #fff , 94vw 43vh #fff , 25vw 21vh #fff , 60vw 92vh #fff , 122vw 3vh #fff , 21vw 92vh #fff , 38vw 83vh #fff , 68vw 97vh #fff , 61vw 4vh #fff , 42vw 49vh #fff , 122vw 62vh #fff , 127vw 21vh #fff , 18vw 74vh #fff , 121vw 44vh #fff , 136vw 4vh #fff , 6vw 36vh #fff , 177vw 71vh #fff , 104vw 35vh #fff , 163vw 42vh #fff , 200vw 61vh #fff , 9vw 52vh #fff , 187vw 58vh #fff , 51vw 25vh #fff , 78vw 90vh #fff , 93vw 71vh #fff , 43vw 48vh #fff , 6vw 77vh #fff , 172vw 51vh #fff , 88vw 96vh #fff , 19vw 94vh #fff , 160vw 53vh #fff , 150vw 44vh #fff , 154vw 36vh #fff;
          box-shadow: 33vw 38vh #fff , 85vw 97vh #fff , 103vw 36vh #fff , 32vw 72vh #fff , 11vw 64vh #fff , 28vw 91vh #fff , 6vw 24vh #fff , 124vw 92vh #fff , 105vw 34vh #fff , 46vw 86vh #fff , 50vw 13vh #fff , 96vw 38vh #fff , 185vw 35vh #fff , 18vw 24vh #fff , 73vw 59vh #fff , 127vw 52vh #fff , 114vw 48vh #fff , 56vw 53vh #fff , 157vw 37vh #fff , 69vw 60vh #fff , 153vw 77vh #fff , 120vw 89vh #fff , 195vw 2vh #fff , 8vw 32vh #fff , 112vw 67vh #fff , 149vw 12vh #fff , 191vw 8vh #fff , 159vw 73vh #fff , 87vw 14vh #fff , 82vw 75vh #fff , 96vw 35vh #fff , 119vw 67vh #fff , 193vw 22vh #fff , 79vw 22vh #fff , 120vw 38vh #fff , 3vw 61vh #fff , 130vw 53vh #fff , 56vw 37vh #fff , 175vw 100vh #fff , 139vw 51vh #fff , 129vw 100vh #fff , 120vw 31vh #fff , 155vw 24vh #fff , 191vw 38vh #fff , 35vw 52vh #fff , 147vw 8vh #fff , 159vw 46vh #fff , 30vw 67vh #fff , 190vw 44vh #fff , 110vw 100vh #fff , 197vw 39vh #fff , 78vw 19vh #fff , 27vw 62vh #fff , 149vw 52vh #fff , 165vw 88vh #fff , 89vw 73vh #fff , 118vw 26vh #fff , 180vw 84vh #fff , 54vw 29vh #fff , 120vw 81vh #fff , 44vw 53vh #fff , 69vw 4vh #fff , 75vw 74vh #fff , 8vw 89vh #fff , 157vw 74vh #fff , 181vw 62vh #fff , 93vw 56vh #fff , 56vw 30vh #fff , 165vw 96vh #fff , 197vw 7vh #fff , 52vw 20vh #fff , 161vw 19vh #fff , 69vw 90vh #fff , 70vw 54vh #fff , 88vw 97vh #fff , 110vw 24vh #fff , 59vw 26vh #fff , 128vw 10vh #fff , 31vw 8vh #fff , 51vw 50vh #fff , 41vw 8vh #fff , 100vw 31vh #fff , 80vw 68vh #fff , 42vw 100vh #fff , 166vw 90vh #fff , 166vw 56vh #fff , 24vw 43vh #fff , 146vw 52vh #fff , 38vw 98vh #fff , 96vw 76vh #fff , 15vw 87vh #fff , 174vw 2vh #fff , 96vw 61vh #fff , 19vw 6vh #fff , 149vw 8vh #fff , 179vw 20vh #fff , 193vw 23vh #fff , 181vw 41vh #fff , 185vw 51vh #fff , 194vw 11vh #fff , 12vw 12vh #fff , 74vw 60vh #fff , 133vw 5vh #fff , 185vw 67vh #fff , 40vw 92vh #fff , 62vw 22vh #fff , 90vw 77vh #fff , 196vw 10vh #fff , 166vw 24vh #fff , 95vw 24vh #fff , 61vw 22vh #fff , 29vw 8vh #fff , 61vw 15vh #fff , 79vw 5vh #fff , 38vw 57vh #fff , 115vw 89vh #fff , 188vw 71vh #fff , 60vw 96vh #fff , 114vw 2vh #fff , 120vw 62vh #fff , 63vw 96vh #fff , 9vw 31vh #fff , 34vw 93vh #fff , 87vw 60vh #fff , 192vw 7vh #fff , 157vw 49vh #fff , 168vw 42vh #fff , 52vw 43vh #fff , 115vw 1vh #fff , 39vw 11vh #fff , 132vw 76vh #fff , 127vw 54vh #fff , 140vw 84vh #fff , 174vw 57vh #fff , 134vw 24vh #fff , 67vw 91vh #fff , 51vw 86vh #fff , 144vw 48vh #fff , 194vw 46vh #fff , 102vw 49vh #fff , 18vw 51vh #fff , 43vw 64vh #fff , 156vw 28vh #fff , 117vw 87vh #fff , 135vw 53vh #fff , 114vw 67vh #fff , 103vw 10vh #fff , 194vw 95vh #fff , 1vw 92vh #fff , 126vw 33vh #fff , 178vw 36vh #fff , 23vw 57vh #fff , 116vw 49vh #fff , 184vw 35vh #fff , 73vw 74vh #fff , 79vw 50vh #fff , 140vw 100vh #fff , 81vw 31vh #fff , 134vw 84vh #fff , 92vw 57vh #fff , 24vw 14vh #fff , 18vw 75vh #fff , 23vw 67vh #fff , 189vw 52vh #fff , 132vw 74vh #fff , 44vw 27vh #fff , 161vw 30vh #fff , 16vw 86vh #fff , 59vw 22vh #fff , 185vw 5vh #fff , 49vw 44vh #fff , 178vw 17vh #fff , 107vw 17vh #fff , 57vw 40vh #fff , 127vw 9vh #fff , 72vw 72vh #fff , 164vw 77vh #fff , 20vw 94vh #fff , 88vw 87vh #fff , 112vw 6vh #fff , 151vw 61vh #fff , 15vw 78vh #fff , 72vw 77vh #fff , 143vw 92vh #fff , 83vw 35vh #fff , 114vw 74vh #fff , 74vw 57vh #fff , 116vw 43vh #fff , 157vw 40vh #fff , 98vw 100vh #fff , 64vw 70vh #fff , 186vw 42vh #fff , 166vw 28vh #fff , 53vw 38vh #fff , 165vw 88vh #fff , 151vw 93vh #fff , 83vw 82vh #fff , 127vw 3vh #fff , 159vw 46vh #fff , 79vw 91vh #fff , 198vw 8vh #fff , 163vw 27vh #fff , 182vw 35vh #fff , 169vw 62vh #fff , 5vw 68vh #fff , 50vw 21vh #fff , 161vw 91vh #fff , 9vw 8vh #fff , 94vw 42vh #fff , 131vw 95vh #fff , 7vw 36vh #fff , 10vw 81vh #fff , 26vw 89vh #fff , 72vw 94vh #fff , 31vw 41vh #fff , 18vw 88vh #fff , 76vw 36vh #fff , 61vw 26vh #fff , 168vw 94vh #fff , 46vw 55vh #fff , 41vw 70vh #fff , 88vw 30vh #fff , 69vw 86vh #fff , 159vw 52vh #fff , 101vw 19vh #fff , 173vw 47vh #fff , 19vw 4vh #fff , 123vw 97vh #fff , 43vw 100vh #fff , 68vw 75vh #fff , 166vw 24vh #fff , 146vw 30vh #fff , 40vw 65vh #fff , 85vw 65vh #fff , 138vw 94vh #fff , 183vw 40vh #fff , 31vw 31vh #fff , 75vw 31vh #fff , 126vw 37vh #fff , 188vw 58vh #fff , 7vw 93vh #fff , 188vw 10vh #fff , 16vw 65vh #fff , 194vw 33vh #fff , 3vw 57vh #fff , 84vw 41vh #fff , 61vw 53vh #fff , 127vw 77vh #fff , 80vw 63vh #fff , 103vw 24vh #fff , 173vw 33vh #fff , 192vw 71vh #fff , 138vw 18vh #fff , 164vw 60vh #fff , 128vw 96vh #fff , 199vw 34vh #fff , 58vw 66vh #fff , 174vw 95vh #fff , 181vw 16vh #fff , 76vw 91vh #fff , 122vw 67vh #fff , 138vw 9vh #fff , 11vw 67vh #fff , 89vw 17vh #fff , 155vw 50vh #fff , 3vw 95vh #fff , 78vw 55vh #fff , 111vw 58vh #fff , 127vw 5vh #fff , 38vw 95vh #fff , 121vw 67vh #fff , 12vw 97vh #fff , 36vw 95vh #fff , 132vw 8vh #fff , 151vw 8vh #fff , 14vw 96vh #fff , 2vw 59vh #fff , 87vw 79vh #fff , 195vw 74vh #fff , 55vw 98vh #fff , 43vw 4vh #fff , 142vw 69vh #fff , 63vw 22vh #fff , 59vw 76vh #fff , 112vw 68vh #fff , 199vw 67vh #fff , 16vw 58vh #fff , 199vw 34vh #fff , 100vw 64vh #fff , 94vw 75vh #fff , 195vw 20vh #fff , 77vw 91vh #fff , 65vw 17vh #fff , 107vw 49vh #fff , 129vw 43vh #fff , 5vw 43vh #fff , 156vw 99vh #fff , 15vw 1vh #fff , 88vw 31vh #fff , 156vw 79vh #fff , 200vw 87vh #fff , 1vw 77vh #fff , 68vw 8vh #fff , 182vw 80vh #fff , 177vw 52vh #fff , 181vw 23vh #fff , 33vw 81vh #fff , 33vw 45vh #fff , 175vw 71vh #fff , 157vw 34vh #fff , 162vw 69vh #fff , 123vw 91vh #fff , 171vw 63vh #fff , 122vw 55vh #fff , 187vw 100vh #fff , 53vw 34vh #fff , 19vw 11vh #fff , 88vw 44vh #fff , 54vw 60vh #fff , 151vw 85vh #fff , 172vw 52vh #fff , 16vw 19vh #fff , 170vw 78vh #fff , 74vw 48vh #fff , 158vw 95vh #fff , 93vw 18vh #fff , 199vw 69vh #fff , 15vw 13vh #fff , 169vw 67vh #fff , 197vw 31vh #fff , 149vw 33vh #fff , 160vw 16vh #fff , 183vw 36vh #fff , 99vw 59vh #fff , 163vw 87vh #fff , 57vw 12vh #fff , 89vw 45vh #fff , 56vw 20vh #fff , 127vw 34vh #fff , 157vw 77vh #fff , 35vw 97vh #fff , 127vw 98vh #fff , 93vw 71vh #fff , 133vw 68vh #fff , 80vw 1vh #fff , 107vw 21vh #fff , 91vw 52vh #fff , 59vw 55vh #fff , 77vw 8vh #fff , 127vw 65vh #fff , 121vw 50vh #fff , 110vw 20vh #fff , 18vw 78vh #fff , 191vw 59vh #fff , 30vw 54vh #fff , 173vw 47vh #fff , 19vw 70vh #fff , 101vw 15vh #fff , 10vw 84vh #fff , 27vw 21vh #fff , 179vw 92vh #fff , 60vw 42vh #fff , 123vw 81vh #fff , 72vw 4vh #fff , 9vw 10vh #fff , 148vw 4vh #fff , 133vw 94vh #fff , 66vw 26vh #fff , 21vw 98vh #fff , 67vw 64vh #fff , 193vw 94vh #fff , 22vw 50vh #fff , 8vw 13vh #fff , 94vw 82vh #fff , 111vw 28vh #fff , 170vw 19vh #fff , 189vw 7vh #fff , 164vw 94vh #fff , 88vw 44vh #fff , 136vw 30vh #fff , 84vw 73vh #fff , 170vw 23vh #fff , 166vw 91vh #fff , 151vw 79vh #fff , 23vw 10vh #fff , 41vw 99vh #fff , 91vw 19vh #fff , 195vw 82vh #fff , 19vw 40vh #fff , 192vw 64vh #fff , 79vw 12vh #fff , 194vw 89vh #fff , 146vw 81vh #fff , 170vw 57vh #fff , 50vw 3vh #fff , 124vw 54vh #fff , 19vw 56vh #fff , 128vw 58vh #fff , 93vw 18vh #fff , 41vw 75vh #fff , 149vw 5vh #fff , 62vw 20vh #fff , 170vw 97vh #fff , 55vw 10vh #fff , 155vw 54vh #fff , 12vw 9vh #fff , 56vw 1vh #fff , 72vw 26vh #fff , 49vw 100vh #fff , 4vw 15vh #fff , 168vw 33vh #fff , 116vw 26vh #fff , 92vw 72vh #fff , 134vw 42vh #fff , 126vw 64vh #fff , 70vw 58vh #fff , 113vw 100vh #fff , 169vw 87vh #fff , 135vw 1vh #fff , 26vw 83vh #fff , 16vw 98vh #fff , 199vw 26vh #fff , 129vw 73vh #fff , 165vw 60vh #fff , 183vw 9vh #fff , 33vw 31vh #fff , 11vw 99vh #fff , 179vw 55vh #fff , 183vw 35vh #fff , 183vw 99vh #fff , 32vw 18vh #fff , 165vw 40vh #fff , 130vw 17vh #fff , 157vw 37vh #fff , 166vw 68vh #fff , 131vw 63vh #fff , 4vw 42vh #fff , 4vw 63vh #fff , 96vw 84vh #fff , 123vw 9vh #fff , 18vw 6vh #fff , 105vw 62vh #fff , 151vw 7vh #fff , 6vw 51vh #fff , 85vw 71vh #fff , 53vw 55vh #fff , 97vw 7vh #fff , 186vw 42vh #fff , 15vw 45vh #fff , 194vw 38vh #fff , 138vw 33vh #fff , 35vw 16vh #fff , 73vw 74vh #fff , 130vw 85vh #fff , 119vw 61vh #fff , 156vw 64vh #fff , 15vw 67vh #fff , 7vw 67vh #fff , 44vw 78vh #fff , 186vw 95vh #fff , 23vw 87vh #fff , 3vw 23vh #fff , 186vw 80vh #fff , 154vw 62vh #fff , 179vw 8vh #fff , 29vw 98vh #fff , 67vw 9vh #fff , 104vw 18vh #fff , 187vw 79vh #fff , 172vw 26vh #fff , 131vw 32vh #fff , 22vw 58vh #fff , 93vw 77vh #fff , 3vw 45vh #fff , 92vw 86vh #fff , 42vw 8vh #fff , 189vw 43vh #fff , 35vw 93vh #fff , 190vw 25vh #fff , 80vw 42vh #fff , 145vw 54vh #fff , 95vw 85vh #fff , 3vw 23vh #fff , 13vw 80vh #fff , 129vw 56vh #fff , 192vw 19vh #fff , 67vw 24vh #fff , 195vw 96vh #fff , 93vw 76vh #fff , 166vw 3vh #fff , 59vw 63vh #fff , 158vw 27vh #fff , 110vw 19vh #fff , 15vw 64vh #fff , 36vw 5vh #fff , 135vw 82vh #fff , 175vw 35vh #fff , 28vw 43vh #fff , 17vw 3vh #fff , 165vw 29vh #fff , 116vw 61vh #fff , 88vw 83vh #fff , 19vw 69vh #fff , 127vw 77vh #fff , 79vw 35vh #fff , 141vw 7vh #fff , 63vw 27vh #fff , 162vw 38vh #fff , 194vw 12vh #fff , 145vw 20vh #fff , 120vw 80vh #fff , 11vw 56vh #fff , 117vw 3vh #fff , 80vw 98vh #fff , 98vw 91vh #fff , 50vw 97vh #fff , 139vw 100vh #fff , 55vw 50vh #fff , 84vw 17vh #fff , 83vw 34vh #fff , 49vw 62vh #fff , 158vw 91vh #fff , 24vw 46vh #fff , 8vw 62vh #fff , 195vw 41vh #fff , 89vw 22vh #fff , 81vw 18vh #fff , 131vw 40vh #fff , 163vw 40vh #fff , 118vw 99vh #fff , 77vw 4vh #fff , 147vw 1vh #fff , 155vw 53vh #fff , 132vw 91vh #fff , 13vw 73vh #fff , 120vw 75vh #fff , 84vw 49vh #fff , 175vw 73vh #fff , 65vw 47vh #fff , 49vw 51vh #fff , 98vw 100vh #fff , 71vw 21vh #fff , 176vw 45vh #fff , 89vw 63vh #fff , 162vw 5vh #fff , 62vw 36vh #fff , 151vw 29vh #fff , 39vw 91vh #fff , 161vw 99vh #fff , 125vw 23vh #fff , 126vw 76vh #fff , 170vw 31vh #fff , 44vw 8vh #fff , 57vw 65vh #fff , 128vw 62vh #fff , 21vw 30vh #fff , 148vw 21vh #fff , 171vw 81vh #fff , 3vw 54vh #fff , 19vw 14vh #fff , 156vw 54vh #fff , 125vw 97vh #fff , 102vw 29vh #fff , 61vw 53vh #fff , 158vw 1vh #fff , 163vw 82vh #fff , 133vw 62vh #fff , 35vw 15vh #fff , 183vw 93vh #fff , 170vw 94vh #fff , 46vw 58vh #fff , 105vw 58vh #fff , 3vw 48vh #fff , 192vw 55vh #fff , 132vw 25vh #fff , 151vw 1vh #fff , 25vw 82vh #fff , 197vw 96vh #fff , 26vw 14vh #fff , 29vw 37vh #fff , 188vw 98vh #fff , 97vw 65vh #fff , 47vw 36vh #fff , 4vw 14vh #fff , 115vw 10vh #fff , 7vw 17vh #fff , 196vw 29vh #fff , 157vw 87vh #fff , 160vw 40vh #fff , 67vw 73vh #fff , 7vw 10vh #fff , 11vw 59vh #fff , 62vw 6vh #fff , 192vw 16vh #fff , 58vw 42vh #fff , 190vw 48vh #fff , 144vw 24vh #fff , 59vw 9vh #fff , 131vw 46vh #fff , 81vw 89vh #fff , 58vw 78vh #fff , 12vw 22vh #fff , 3vw 94vh #fff , 109vw 9vh #fff , 19vw 47vh #fff , 176vw 72vh #fff , 167vw 98vh #fff , 70vw 58vh #fff , 54vw 64vh #fff , 116vw 79vh #fff , 15vw 48vh #fff , 39vw 27vh #fff , 175vw 75vh #fff , 148vw 4vh #fff , 91vw 7vh #fff , 95vw 16vh #fff , 84vw 22vh #fff , 168vw 16vh #fff , 115vw 8vh #fff , 55vw 22vh #fff , 137vw 72vh #fff , 22vw 7vh #fff , 198vw 74vh #fff , 176vw 25vh #fff , 8vw 40vh #fff , 165vw 62vh #fff , 173vw 50vh #fff , 36vw 94vh #fff , 64vw 29vh #fff , 133vw 8vh #fff , 191vw 77vh #fff , 158vw 98vh #fff , 31vw 97vh #fff , 99vw 43vh #fff , 64vw 74vh #fff , 7vw 62vh #fff , 168vw 58vh #fff , 80vw 13vh #fff , 34vw 16vh #fff , 71vw 21vh #fff , 57vw 12vh #fff , 4vw 98vh #fff , 23vw 90vh #fff , 194vw 27vh #fff , 57vw 67vh #fff , 63vw 16vh #fff , 79vw 84vh #fff , 178vw 25vh #fff , 119vw 74vh #fff , 155vw 10vh #fff , 170vw 75vh #fff , 197vw 40vh #fff , 97vw 31vh #fff , 156vw 26vh #fff , 20vw 37vh #fff , 95vw 35vh #fff , 147vw 56vh #fff , 36vw 65vh #fff , 103vw 57vh #fff , 92vw 69vh #fff , 174vw 49vh #fff , 187vw 75vh #fff , 57vw 69vh #fff , 196vw 33vh #fff , 25vw 62vh #fff , 193vw 87vh #fff , 156vw 25vh #fff , 98vw 33vh #fff , 94vw 43vh #fff , 25vw 21vh #fff , 60vw 92vh #fff , 122vw 3vh #fff , 21vw 92vh #fff , 38vw 83vh #fff , 68vw 97vh #fff , 61vw 4vh #fff , 42vw 49vh #fff , 122vw 62vh #fff , 127vw 21vh #fff , 18vw 74vh #fff , 121vw 44vh #fff , 136vw 4vh #fff , 6vw 36vh #fff , 177vw 71vh #fff , 104vw 35vh #fff , 163vw 42vh #fff , 200vw 61vh #fff , 9vw 52vh #fff , 187vw 58vh #fff , 51vw 25vh #fff , 78vw 90vh #fff , 93vw 71vh #fff , 43vw 48vh #fff , 6vw 77vh #fff , 172vw 51vh #fff , 88vw 96vh #fff , 19vw 94vh #fff , 160vw 53vh #fff , 150vw 44vh #fff , 154vw 36vh #fff;
  -webkit-animation: star_move 100s linear infinite;
          animation: star_move 100s linear infinite;
}

.stars #stars2 {
  width: 2px;
  height: 2px;
  background-color: #fff;
  -webkit-box-shadow: 187vw 86vh #fff , 129vw 75vh #fff , 200vw 95vh #fff , 77vw 25vh #fff , 19vw 80vh #fff , 90vw 99vh #fff , 107vw 1vh #fff , 91vw 10vh #fff , 92vw 40vh #fff , 113vw 64vh #fff , 191vw 66vh #fff , 76vw 81vh #fff , 160vw 58vh #fff , 170vw 78vh #fff , 15vw 33vh #fff , 24vw 95vh #fff , 36vw 4vh #fff , 99vw 10vh #fff , 6vw 31vh #fff , 154vw 42vh #fff , 91vw 82vh #fff , 46vw 44vh #fff , 61vw 59vh #fff , 77vw 51vh #fff , 144vw 54vh #fff , 192vw 82vh #fff , 4vw 42vh #fff , 93vw 54vh #fff , 21vw 49vh #fff , 84vw 86vh #fff , 163vw 35vh #fff , 118vw 92vh #fff , 104vw 57vh #fff , 93vw 94vh #fff , 191vw 37vh #fff , 69vw 56vh #fff , 85vw 99vh #fff , 160vw 94vh #fff , 102vw 5vh #fff , 128vw 69vh #fff , 54vw 39vh #fff , 153vw 78vh #fff , 142vw 73vh #fff , 104vw 58vh #fff , 11vw 74vh #fff , 185vw 51vh #fff , 174vw 86vh #fff , 146vw 100vh #fff , 109vw 20vh #fff , 106vw 84vh #fff , 153vw 24vh #fff , 6vw 22vh #fff , 27vw 43vh #fff , 122vw 66vh #fff , 119vw 1vh #fff , 170vw 62vh #fff , 56vw 79vh #fff , 65vw 39vh #fff , 160vw 8vh #fff , 110vw 84vh #fff , 122vw 23vh #fff , 1vw 7vh #fff , 68vw 59vh #fff , 69vw 23vh #fff , 48vw 48vh #fff , 180vw 10vh #fff , 54vw 34vh #fff , 193vw 41vh #fff , 93vw 75vh #fff , 27vw 34vh #fff , 65vw 83vh #fff , 48vw 39vh #fff , 130vw 37vh #fff , 38vw 100vh #fff , 7vw 97vh #fff , 40vw 4vh #fff , 43vw 44vh #fff , 191vw 6vh #fff , 79vw 94vh #fff , 11vw 94vh #fff , 77vw 24vh #fff , 174vw 5vh #fff , 103vw 50vh #fff , 74vw 98vh #fff , 84vw 70vh #fff , 7vw 2vh #fff , 52vw 4vh #fff , 2vw 45vh #fff , 76vw 73vh #fff , 79vw 97vh #fff , 45vw 88vh #fff , 140vw 65vh #fff , 1vw 37vh #fff , 6vw 5vh #fff , 123vw 73vh #fff , 131vw 11vh #fff , 130vw 30vh #fff , 113vw 50vh #fff , 89vw 32vh #fff , 144vw 5vh #fff , 99vw 5vh #fff , 168vw 81vh #fff , 134vw 86vh #fff , 189vw 41vh #fff , 40vw 40vh #fff , 63vw 15vh #fff , 116vw 99vh #fff , 178vw 49vh #fff , 191vw 97vh #fff , 16vw 53vh #fff , 22vw 19vh #fff , 71vw 15vh #fff , 97vw 98vh #fff , 124vw 39vh #fff , 113vw 67vh #fff , 40vw 78vh #fff , 175vw 26vh #fff , 106vw 27vh #fff , 84vw 88vh #fff , 77vw 20vh #fff , 66vw 7vh #fff , 7vw 83vh #fff , 16vw 13vh #fff , 184vw 49vh #fff , 46vw 27vh #fff , 6vw 90vh #fff , 176vw 48vh #fff , 31vw 81vh #fff , 107vw 71vh #fff , 160vw 94vh #fff , 161vw 5vh #fff , 37vw 46vh #fff , 158vw 52vh #fff , 89vw 24vh #fff , 166vw 3vh #fff , 19vw 22vh #fff , 182vw 55vh #fff , 151vw 21vh #fff , 14vw 52vh #fff , 194vw 31vh #fff , 71vw 92vh #fff , 159vw 21vh #fff , 151vw 59vh #fff , 147vw 10vh #fff , 187vw 68vh #fff , 25vw 99vh #fff , 146vw 2vh #fff , 173vw 100vh #fff , 169vw 37vh #fff , 173vw 34vh #fff , 90vw 19vh #fff , 96vw 84vh #fff , 57vw 42vh #fff , 65vw 48vh #fff , 148vw 6vh #fff , 181vw 5vh #fff , 199vw 78vh #fff , 131vw 82vh #fff , 81vw 37vh #fff , 101vw 81vh #fff , 199vw 32vh #fff , 73vw 57vh #fff , 131vw 73vh #fff , 46vw 71vh #fff , 143vw 59vh #fff , 122vw 80vh #fff , 1vw 98vh #fff , 139vw 94vh #fff , 65vw 8vh #fff , 68vw 30vh #fff , 50vw 33vh #fff , 179vw 86vh #fff , 67vw 89vh #fff , 60vw 65vh #fff , 105vw 56vh #fff , 101vw 80vh #fff , 133vw 4vh #fff , 67vw 50vh #fff , 197vw 86vh #fff , 101vw 37vh #fff , 75vw 14vh #fff , 145vw 87vh #fff , 63vw 85vh #fff , 83vw 86vh #fff , 166vw 49vh #fff , 168vw 49vh #fff , 127vw 51vh #fff , 141vw 59vh #fff , 144vw 24vh #fff , 65vw 82vh #fff , 57vw 25vh #fff , 74vw 22vh #fff , 42vw 83vh #fff , 144vw 6vh #fff , 184vw 77vh #fff , 54vw 72vh #fff , 79vw 47vh #fff , 23vw 92vh #fff , 70vw 29vh #fff , 95vw 14vh #fff;
          box-shadow: 187vw 86vh #fff , 129vw 75vh #fff , 200vw 95vh #fff , 77vw 25vh #fff , 19vw 80vh #fff , 90vw 99vh #fff , 107vw 1vh #fff , 91vw 10vh #fff , 92vw 40vh #fff , 113vw 64vh #fff , 191vw 66vh #fff , 76vw 81vh #fff , 160vw 58vh #fff , 170vw 78vh #fff , 15vw 33vh #fff , 24vw 95vh #fff , 36vw 4vh #fff , 99vw 10vh #fff , 6vw 31vh #fff , 154vw 42vh #fff , 91vw 82vh #fff , 46vw 44vh #fff , 61vw 59vh #fff , 77vw 51vh #fff , 144vw 54vh #fff , 192vw 82vh #fff , 4vw 42vh #fff , 93vw 54vh #fff , 21vw 49vh #fff , 84vw 86vh #fff , 163vw 35vh #fff , 118vw 92vh #fff , 104vw 57vh #fff , 93vw 94vh #fff , 191vw 37vh #fff , 69vw 56vh #fff , 85vw 99vh #fff , 160vw 94vh #fff , 102vw 5vh #fff , 128vw 69vh #fff , 54vw 39vh #fff , 153vw 78vh #fff , 142vw 73vh #fff , 104vw 58vh #fff , 11vw 74vh #fff , 185vw 51vh #fff , 174vw 86vh #fff , 146vw 100vh #fff , 109vw 20vh #fff , 106vw 84vh #fff , 153vw 24vh #fff , 6vw 22vh #fff , 27vw 43vh #fff , 122vw 66vh #fff , 119vw 1vh #fff , 170vw 62vh #fff , 56vw 79vh #fff , 65vw 39vh #fff , 160vw 8vh #fff , 110vw 84vh #fff , 122vw 23vh #fff , 1vw 7vh #fff , 68vw 59vh #fff , 69vw 23vh #fff , 48vw 48vh #fff , 180vw 10vh #fff , 54vw 34vh #fff , 193vw 41vh #fff , 93vw 75vh #fff , 27vw 34vh #fff , 65vw 83vh #fff , 48vw 39vh #fff , 130vw 37vh #fff , 38vw 100vh #fff , 7vw 97vh #fff , 40vw 4vh #fff , 43vw 44vh #fff , 191vw 6vh #fff , 79vw 94vh #fff , 11vw 94vh #fff , 77vw 24vh #fff , 174vw 5vh #fff , 103vw 50vh #fff , 74vw 98vh #fff , 84vw 70vh #fff , 7vw 2vh #fff , 52vw 4vh #fff , 2vw 45vh #fff , 76vw 73vh #fff , 79vw 97vh #fff , 45vw 88vh #fff , 140vw 65vh #fff , 1vw 37vh #fff , 6vw 5vh #fff , 123vw 73vh #fff , 131vw 11vh #fff , 130vw 30vh #fff , 113vw 50vh #fff , 89vw 32vh #fff , 144vw 5vh #fff , 99vw 5vh #fff , 168vw 81vh #fff , 134vw 86vh #fff , 189vw 41vh #fff , 40vw 40vh #fff , 63vw 15vh #fff , 116vw 99vh #fff , 178vw 49vh #fff , 191vw 97vh #fff , 16vw 53vh #fff , 22vw 19vh #fff , 71vw 15vh #fff , 97vw 98vh #fff , 124vw 39vh #fff , 113vw 67vh #fff , 40vw 78vh #fff , 175vw 26vh #fff , 106vw 27vh #fff , 84vw 88vh #fff , 77vw 20vh #fff , 66vw 7vh #fff , 7vw 83vh #fff , 16vw 13vh #fff , 184vw 49vh #fff , 46vw 27vh #fff , 6vw 90vh #fff , 176vw 48vh #fff , 31vw 81vh #fff , 107vw 71vh #fff , 160vw 94vh #fff , 161vw 5vh #fff , 37vw 46vh #fff , 158vw 52vh #fff , 89vw 24vh #fff , 166vw 3vh #fff , 19vw 22vh #fff , 182vw 55vh #fff , 151vw 21vh #fff , 14vw 52vh #fff , 194vw 31vh #fff , 71vw 92vh #fff , 159vw 21vh #fff , 151vw 59vh #fff , 147vw 10vh #fff , 187vw 68vh #fff , 25vw 99vh #fff , 146vw 2vh #fff , 173vw 100vh #fff , 169vw 37vh #fff , 173vw 34vh #fff , 90vw 19vh #fff , 96vw 84vh #fff , 57vw 42vh #fff , 65vw 48vh #fff , 148vw 6vh #fff , 181vw 5vh #fff , 199vw 78vh #fff , 131vw 82vh #fff , 81vw 37vh #fff , 101vw 81vh #fff , 199vw 32vh #fff , 73vw 57vh #fff , 131vw 73vh #fff , 46vw 71vh #fff , 143vw 59vh #fff , 122vw 80vh #fff , 1vw 98vh #fff , 139vw 94vh #fff , 65vw 8vh #fff , 68vw 30vh #fff , 50vw 33vh #fff , 179vw 86vh #fff , 67vw 89vh #fff , 60vw 65vh #fff , 105vw 56vh #fff , 101vw 80vh #fff , 133vw 4vh #fff , 67vw 50vh #fff , 197vw 86vh #fff , 101vw 37vh #fff , 75vw 14vh #fff , 145vw 87vh #fff , 63vw 85vh #fff , 83vw 86vh #fff , 166vw 49vh #fff , 168vw 49vh #fff , 127vw 51vh #fff , 141vw 59vh #fff , 144vw 24vh #fff , 65vw 82vh #fff , 57vw 25vh #fff , 74vw 22vh #fff , 42vw 83vh #fff , 144vw 6vh #fff , 184vw 77vh #fff , 54vw 72vh #fff , 79vw 47vh #fff , 23vw 92vh #fff , 70vw 29vh #fff , 95vw 14vh #fff;
  -webkit-animation: star_move 50s linear infinite;
          animation: star_move 50s linear infinite;
}

.stars #stars3 {
  width: 3px;
  height: 3px;
  background-color: #fff;
  -webkit-box-shadow: 82vw 96vh #fff , 44vw 48vh #fff , 33vw 70vh #fff , 80vw 13vh #fff , 180vw 64vh #fff , 16vw 34vh #fff , 34vw 99vh #fff , 183vw 5vh #fff , 137vw 29vh #fff , 154vw 10vh #fff , 36vw 66vh #fff , 185vw 97vh #fff , 43vw 79vh #fff , 145vw 63vh #fff , 63vw 80vh #fff , 41vw 92vh #fff , 11vw 1vh #fff , 151vw 81vh #fff , 184vw 28vh #fff , 11vw 74vh #fff , 142vw 50vh #fff , 129vw 89vh #fff , 133vw 54vh #fff , 159vw 22vh #fff , 120vw 63vh #fff , 55vw 5vh #fff , 149vw 7vh #fff , 51vw 53vh #fff , 21vw 50vh #fff , 148vw 52vh #fff , 193vw 72vh #fff , 68vw 62vh #fff , 131vw 87vh #fff , 160vw 39vh #fff , 106vw 100vh #fff , 169vw 46vh #fff , 183vw 9vh #fff , 186vw 49vh #fff , 96vw 59vh #fff , 66vw 80vh #fff , 50vw 72vh #fff , 114vw 52vh #fff , 32vw 12vh #fff , 25vw 92vh #fff , 107vw 22vh #fff , 186vw 49vh #fff , 194vw 79vh #fff , 139vw 4vh #fff , 192vw 29vh #fff , 49vw 51vh #fff , 111vw 57vh #fff , 144vw 98vh #fff , 49vw 36vh #fff , 194vw 50vh #fff , 20vw 49vh #fff , 113vw 88vh #fff , 72vw 87vh #fff , 140vw 7vh #fff , 35vw 78vh #fff , 96vw 87vh #fff , 32vw 59vh #fff , 42vw 56vh #fff , 46vw 91vh #fff , 199vw 33vh #fff , 17vw 41vh #fff , 46vw 55vh #fff , 13vw 90vh #fff , 112vw 2vh #fff , 50vw 52vh #fff , 145vw 8vh #fff , 84vw 81vh #fff , 51vw 50vh #fff , 30vw 76vh #fff , 10vw 55vh #fff , 115vw 3vh #fff , 91vw 58vh #fff , 106vw 18vh #fff , 63vw 41vh #fff , 41vw 22vh #fff , 58vw 81vh #fff , 175vw 89vh #fff , 101vw 87vh #fff , 163vw 94vh #fff , 82vw 49vh #fff , 45vw 19vh #fff , 34vw 81vh #fff , 122vw 38vh #fff , 95vw 65vh #fff , 198vw 74vh #fff , 136vw 13vh #fff , 51vw 79vh #fff , 178vw 71vh #fff , 73vw 100vh #fff , 90vw 99vh #fff , 183vw 77vh #fff , 48vw 56vh #fff , 76vw 95vh #fff , 130vw 96vh #fff , 51vw 71vh #fff , 14vw 38vh #fff;
          box-shadow: 82vw 96vh #fff , 44vw 48vh #fff , 33vw 70vh #fff , 80vw 13vh #fff , 180vw 64vh #fff , 16vw 34vh #fff , 34vw 99vh #fff , 183vw 5vh #fff , 137vw 29vh #fff , 154vw 10vh #fff , 36vw 66vh #fff , 185vw 97vh #fff , 43vw 79vh #fff , 145vw 63vh #fff , 63vw 80vh #fff , 41vw 92vh #fff , 11vw 1vh #fff , 151vw 81vh #fff , 184vw 28vh #fff , 11vw 74vh #fff , 142vw 50vh #fff , 129vw 89vh #fff , 133vw 54vh #fff , 159vw 22vh #fff , 120vw 63vh #fff , 55vw 5vh #fff , 149vw 7vh #fff , 51vw 53vh #fff , 21vw 50vh #fff , 148vw 52vh #fff , 193vw 72vh #fff , 68vw 62vh #fff , 131vw 87vh #fff , 160vw 39vh #fff , 106vw 100vh #fff , 169vw 46vh #fff , 183vw 9vh #fff , 186vw 49vh #fff , 96vw 59vh #fff , 66vw 80vh #fff , 50vw 72vh #fff , 114vw 52vh #fff , 32vw 12vh #fff , 25vw 92vh #fff , 107vw 22vh #fff , 186vw 49vh #fff , 194vw 79vh #fff , 139vw 4vh #fff , 192vw 29vh #fff , 49vw 51vh #fff , 111vw 57vh #fff , 144vw 98vh #fff , 49vw 36vh #fff , 194vw 50vh #fff , 20vw 49vh #fff , 113vw 88vh #fff , 72vw 87vh #fff , 140vw 7vh #fff , 35vw 78vh #fff , 96vw 87vh #fff , 32vw 59vh #fff , 42vw 56vh #fff , 46vw 91vh #fff , 199vw 33vh #fff , 17vw 41vh #fff , 46vw 55vh #fff , 13vw 90vh #fff , 112vw 2vh #fff , 50vw 52vh #fff , 145vw 8vh #fff , 84vw 81vh #fff , 51vw 50vh #fff , 30vw 76vh #fff , 10vw 55vh #fff , 115vw 3vh #fff , 91vw 58vh #fff , 106vw 18vh #fff , 63vw 41vh #fff , 41vw 22vh #fff , 58vw 81vh #fff , 175vw 89vh #fff , 101vw 87vh #fff , 163vw 94vh #fff , 82vw 49vh #fff , 45vw 19vh #fff , 34vw 81vh #fff , 122vw 38vh #fff , 95vw 65vh #fff , 198vw 74vh #fff , 136vw 13vh #fff , 51vw 79vh #fff , 178vw 71vh #fff , 73vw 100vh #fff , 90vw 99vh #fff , 183vw 77vh #fff , 48vw 56vh #fff , 76vw 95vh #fff , 130vw 96vh #fff , 51vw 71vh #fff , 14vw 38vh #fff;
  -webkit-animation: star_move 35s linear infinite;
          animation: star_move 35s linear infinite;
}

.members {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.members img {
  width: 20%;
}

@media (max-width: 900px) {
  .roadmap div.wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .roadmap div.wrapper img {
    max-width: 35%;
    margin-bottom: 1.5rem;
  }
  .roadmap div.wrapper span {
    color: #fff;
    margin: 0;
    padding: 0 1rem;
    text-align: center;
  }
  .roadmap div.wrapper:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .roadmap div.wrapper:nth-child(even) span {
    margin: 0;
    padding: 0 1rem;
    text-align: center;
  }
}

.roadmap {
  overflow: visible;
  margin-bottom: 0;
  padding: 10px;
}

.roadmap .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.roadmap .wrapper.rotate img {
  -webkit-animation: planet_rotate 50s linear infinite;
          animation: planet_rotate 50s linear infinite;
}

.roadmap .wrapper.shake img {
  -webkit-animation: planet_shake 10s linear infinite;
          animation: planet_shake 10s linear infinite;
}

.roadmap .wrapper span {
  font-size: 1.2rem;
  color: #fff;
  margin-left: 2rem;
}

.roadmap .wrapper:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.roadmap .wrapper:nth-child(even) span {
  margin-right: 2rem;
  margin-left: 0;
  text-align: right;
}

.idea {
  margin-top: 4rem;
  -webkit-animation: idea_move 30s linear infinite;
          animation: idea_move 30s linear infinite;
}

.idea #idea {
  max-width: 65vw;
}

.seek {
  height: 50vw;
}

.seek #seek_left {
  width: 75%;
  bottom: 70px;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-animation: seek_left_move 10s linear infinite;
          animation: seek_left_move 10s linear infinite;
}

.seek #seek_right {
  width: 40%;
  right: -8%;
  top: 70px;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-animation: seek_left_move 10s linear infinite;
          animation: seek_left_move 10s linear infinite;
}

section {
  overflow-x: hidden;
  margin-bottom: 70px;
}
/*# sourceMappingURL=main.css.map */